Repository nativewind/react-native-css: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: yarn tsc
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

chore: add triage skill for GitHub issue review (#314)
  .claude/skills/triage/SKILL.md
Due: none

fix: use :root font-size as compile-time rem base
  src/__tests__/native/units.test.tsx
  src/compiler/compiler.ts
Due: lint, types

fix: use :root font-size as compile-time rem base (#315)
  src/__tests__/native/units.test.tsx
  src/compiler/compiler.ts
Due: lint, types

fix: prevent style={{}} from destroying computed styles in non-["style"] targets
  src/__tests__/native/className-with-style.test.tsx
  src/native/styles/index.ts
Due: lint, types

fix: prevent style={{}} from destroying computed styles in non-["style"] targets (#312)
  src/__tests__/native/className-with-style.test.tsx
  src/native/styles/index.ts
Due: lint, types

fix: add missing style mapping on flatlist
  src/components/FlatList.tsx
Due: lint

fix: add test for missing className
  src/__tests__/native/className-with-style.test.tsx
Due: lint

fix: add missing style mapping on flatlist (#321)
  src/__tests__/native/className-with-style.test.tsx
  src/components/FlatList.tsx
Due: lint

Release 3.0.7
  CHANGELOG.md
  package.json
Due: none

fix: handle boolean true in nativeStyleMapping
  src/__tests__/native/components.test.tsx
  src/native/react/useNativeCss.ts
Due: lint, types

fix: address review feedback on finalKey merge block
  src/native/styles/index.ts
Due: lint, types

fix: preserve className styles on multi-config and non-style array targets
  src/__tests__/native/className-with-style.test.tsx
  src/native/styles/index.ts
Due: lint, types

chore: add auto-triage workflow for new issues
  .github/AUTO_TRIAGE.md
  .github/workflows/auto-triage.yml
Due: none

chore: add auto-triage workflow for new issues (#328)
  .github/AUTO_TRIAGE.md
  .github/workflows/auto-triage.yml
Due: none

chore: add Tier 2 deep-triage workflow with Argent
  .github/AUTO_TRIAGE.md
  .github/workflows/auto-triage-deep.yml
Due: none

chore(auto-triage): use GitHub-hosted macos-latest runner
  .github/AUTO_TRIAGE.md
  .github/workflows/auto-triage-deep.yml
Due: none

fix: propagate inlineRem and Metro config to compiler (Tailwind v4)
  src/compiler/compiler.ts
  src/metro/metro-transformer.ts
Due: lint, types

test: add regression test for Tailwind v4 rem propagation fix
  src/__tests__/native/units.test.tsx
Due: lint

fix: avoid walking ref props in styled mappings
  src/runtime.types.ts
Due: lint, types

fix: apply effective rem to calc function using variables
  src/__tests__/compiler/compiler.test.tsx
  src/compiler/compiler.ts
Due: lint, types

feat: add cursor CSS property support
  src/__tests__/compiler/declarations.test.tsx
  src/__tests__/vendor/tailwind/interactivity.test.tsx
  src/compiler/declarations.ts
Due: lint, types

fix: rename font-variant-caps to font-variant and parse font-variant
  src/compiler/declarations.ts
Due: lint, types

fix: handle boolean shorthand in nativeStyleMapping
  src/__tests__/native/components.test.tsx
  src/native/styles/index.ts
Due: lint, types

fix: handle boolean true in nativeStyleMapping (#323)
  src/__tests__/native/components.test.tsx
  src/native/react/useNativeCss.ts
Due: lint, types

fix: rename font-variant-caps to font-variant and parse font-variant (#347)
  src/compiler/declarations.ts
Due: lint, types

fix: remove transform keys before appending new ones
  src/native/objects.ts
Due: lint, types

fix: apply copilot suggestion
  src/native/objects.ts
Due: lint, types

fix: add test for duplicated translate objects
  src/__tests__/native/transform.test.tsx
Due: lint

fix: coerce NaN Lab/OKLab channels to 0 in parseColor
  src/__tests__/native/color-mix.test.tsx
  src/compiler/declarations.ts
Due: lint, types

fix: preserve className styles on multi-config and non-style array targets (#320)
  src/__tests__/native/className-with-style.test.tsx
  src/native/styles/index.ts
Due: lint, types

fix: propagate inlineRem and Metro config to compiler (Tailwind v4) (#316) (#336)
  src/__tests__/native/units.test.tsx
  src/compiler/compiler.ts
  src/metro/metro-transformer.ts
Due: lint, types

fix: coerce NaN Lab/OKLab channels to 0 in parseColor (#351)
  src/__tests__/native/color-mix.test.tsx
  src/compiler/declarations.ts
Due: lint, types

fix: emit React Native border-start/end props for border-inline styles
  src/__tests__/compiler/logical-borders.test.ts
  src/__tests__/vendor/tailwind/borders.test.tsx
  src/compiler/declarations.ts
  src/metro/metro-transformer.ts
Due: lint, types

feat(native): evaluate prefers-reduced-motion on native
  src/__tests__/compiler/compiler.test.tsx
  src/__tests__/native/media-query.test.tsx
  src/native/conditions/media-query.ts
  src/native/reactivity.ts
Due: lint, types

docs(native): clarify the reduce-motion cold-start seed
  src/native/reactivity.ts
Due: lint, types
