Repository nativewind/react-native-css: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: yarn eslint {staged_files}

types:
  run: yarn tsc

feat(metro): surface compiler warnings during a build
  README.md
  src/__tests__/metro/metro-transformer.test.ts
  src/__tests__/metro/warnings.test.ts
  src/metro/index.ts
  src/metro/metro-transformer.ts
  src/metro/warnings.ts
Due: lint, types

fix(native): a custom property with no value produces no key
  src/__tests__/native/variables.test.tsx
  src/__tests__/native/vars.test.tsx
  src/native-internal/variables.tsx
  src/native/api.tsx
  src/native/reactivity.ts
Due: lint, types

test: make the camelCase pin failable and record the custom-property split
  src/__tests__/compiler/compiler.test.tsx
  src/__tests__/native/colors.test.tsx
Due: lint

fix(compiler): give border-block-color one key set, and carry it into light-dark()
  src/__tests__/compiler/logical-borders.test.ts
  src/__tests__/native/logical-borders.test.tsx
  src/__tests__/vendor/tailwind/borders.test.tsx
  src/compiler/declarations.ts
  src/native/styles/shorthands/border.ts
Due: lint, types

docs: say what the font-family reduction actually guarantees
  src/__tests__/vendor/tailwind/typography.test.tsx
  src/native/objects.ts
Due: lint, types

fix: re-declare GestureHandlerRootView, and guard the handlers a byte diff drops
  src/__tests__/_gesture-handler.ts
  src/__tests__/compiler/react-native-gesture-handler.test.tsx
  src/__tests__/native/react-native-gesture-handler-rewrite.test.tsx
  src/__tests__/native/react-native-gesture-handler-root-view.test.tsx
  src/__tests__/native/react-native-gesture-handler.test.tsx
  src/components/react-native-gesture-handler.native.tsx
Due: lint, types

test(native): make the circular-variable census falsifiable
  src/__tests__/native/variables.test.tsx
  src/compiler/inline-variables.ts
  src/native/styles/resolve.ts
  src/native/styles/shorthands/animation.ts
  src/native/styles/variables.ts
Due: lint, types

fix: close the holes the audit found in its own guards
  src/__tests__/_media-features.ts
  src/__tests__/compiler/conditional-group-rules.test.ts
  src/__tests__/compiler/container-query.test.ts
  src/__tests__/compiler/media-query.test.ts
  src/__tests__/compiler/native-runtime-isolation.test.ts
  src/__tests__/native/compare.test.ts
  src/__tests__/native/container-queries.test.tsx
  src/__tests__/native/media-query.test.tsx
  src/compiler/compiler.ts
  src/compiler/media-query.ts
  src/native/conditions/compare.ts
  src/native/conditions/container-query.ts
  src/native/conditions/media-query.ts
Due: lint, types

fix(native): resolve the scheme over the union, not over nullishness
  src/__tests__/native/color-scheme-appearance-rn-0-86.test.tsx
  src/native/api.tsx
  src/native/conditions/media-query.ts
  src/native/reactivity.ts
Due: lint, types

fix(native): rank an unset specificity slot the same however it is spelled
  src/__tests__/native/specificity.test.tsx
  src/utilities/specificity.ts
Due: lint, types

fix(utilities): guard the sibling predicate against a null head too
  src/__tests__/utilities/style-descriptor.test.ts
  src/utilities/style-descriptor.ts
Due: lint, types

feat(compiler): report the parse diagnostics lightningcss already produces
  src/__tests__/metro/warnings.test.ts
  src/compiler/compiler.ts
  src/compiler/compiler.types.ts
  src/compiler/stylesheet.ts
Due: lint, types

fix(metro): render the syntax channel, and not as a missing equivalent
  src/__tests__/metro/warnings.test.ts
  src/metro/warnings.ts
Due: lint, types

docs(native): name the react-native version the colour-scheme break starts at
  src/native/api.tsx
  src/native/conditions/media-query.ts
  src/native/reactivity.ts
Due: lint, types

docs(compiler): stop the operand comment claiming to enumerate every unanswerable value
  src/compiler/media-query.ts
Due: lint, types

docs(test): separate the two react-native changes this header collapses into one
  src/__tests__/native/color-scheme-appearance-rn-0-86.test.tsx
Due: lint

test(native): drive all three of the peer range's cache-write rules
  src/__tests__/native/color-scheme-appearance-async.test.tsx
  src/__tests__/native/color-scheme-appearance-cache-rules.test.tsx
  src/__tests__/native/color-scheme-appearance-rn-0-86.test.tsx
  src/native/api.tsx
  src/native/reactivity.ts
Due: lint, types

fix(native): repair react-native's cache after a hand-back, rather than routing around it
  src/__tests__/native/color-scheme-appearance-cache-rules.test.tsx
  src/native/api.tsx
Due: lint

fix(native): a target:false config gets its own scratch space, not `style`
  src/__tests__/native/components.test.tsx
  src/native/react/rules.ts
  src/native/styles/index.ts
Due: lint, types

fix(native): one resolved-style cache key per distinct input set
  src/__tests__/native/config-identity.test.ts
  src/__tests__/native/family.test.ts
  src/__tests__/native/state-hash.test.ts
  src/__tests__/native/style-cache-bounds.test.tsx
  src/__tests__/native/style-cache-sharing.test.tsx
  src/native/react/rules.ts
  src/native/react/useNativeCss.ts
  src/native/reactivity.ts
Due: lint, types

fix(native): release a resolved-style entry when its last observer unmounts
  src/__tests__/native/family.test.ts
  src/__tests__/native/style-cache-release.test.tsx
  src/native/react/rules.ts
  src/native/react/useNativeCss.ts
  src/native/reactivity.ts
  src/native/styles/index.ts
Due: lint, types

fix(native): separate a subscriber list from a dependency list, and release by identity
  src/__tests__/native/family.test.ts
  src/__tests__/native/style-cache-release-reactive.test.tsx
  src/__tests__/native/style-cache-release-safety.test.tsx
  src/__tests__/native/style-cache-stress.test.tsx
  src/native/reactivity.ts
  src/native/styles/index.ts
Due: lint, types

perf(native): a derived observable computes once per change, not once per read
  src/__tests__/native/observable-memo.test.ts
  src/native/reactivity.ts
Due: lint, types

fix(native): drain a batch as a work list, so a re-notified effect runs again
  src/__tests__/native/observable-batch-drain.test.ts
  src/__tests__/native/observable-memo.test.ts
  src/native-internal/style-collection.ts
  src/native/reactivity.ts
Due: lint, types

test(native): pin that the nativeStyleMapping drain is idempotent on a cached entry
  src/__tests__/native/native-style-mapping-idempotence.test.tsx
Due: lint

fix(native): a read that throws leaves the observable as it found it
  src/__tests__/native/observable-init-failure.test.ts
  src/native/reactivity.ts
Due: lint, types

fix(native): seed a concrete colour on iOS too, not just Android
  src/__tests__/native/box-shadow.test.tsx
  src/__tests__/native/filters.test.tsx
  src/__tests__/native/root-color-seed.test.ios.tsx
  src/__tests__/native/text-shadow.test.ios.tsx
  src/__tests__/vendor/tailwind/interactivity.test.tsx
  src/__tests__/vendor/tailwind/typography.test.tsx
  src/native-internal/root.ts
Due: lint, types

feat(native): publish a container's props for its descendants
  src/native/react/useNativeCss.ts
  src/native/reactivity.ts
Due: lint, types

fix(native): let an attribute test run without a render guard
  src/native/conditions/attributes.ts
Due: lint, types

fix(native): evaluate a container query's attribute condition
  src/native/conditions/container-query.ts
Due: lint, types

test(native): pin ancestor attribute conditions in both directions
  src/__tests__/native/container-queries.test.tsx
Due: lint

test(native): pin what a container republish does and does not notify
  src/__tests__/native/container-attributes.test.ts
Due: lint, types

fix(native): let an element's own custom property outrank an inherited one
  src/__tests__/native/vars.test.tsx
  src/native/styles/variables.ts
Due: lint, types

test(compiler): pin that a singly-declared custom property is folded
  src/__tests__/compiler/inline-variables.test.ts
Due: lint, types

test(native): cover the stylesheet half of custom-property precedence
  src/__tests__/native/variables.test.tsx
  src/__tests__/native/vars.test.tsx
Due: lint

fix(exports): correct `./components/*` source targets for two non-tsx modules
  package.json
Due: none

fix(native): answer an attribute selector the way Selectors §6 defines it
  src/__tests__/native/attributes.test.tsx
  src/compiler/selector-builder.ts
  src/native/conditions/attributes.ts
Due: lint, types

fix(compiler): read [class=…] from the prop the class list arrives on
  src/__tests__/native/attributes.test.tsx
  src/compiler/selector-builder.ts
Due: lint, types

fix(compiler): drop a namespace-qualified attribute selector
  src/__tests__/native/attributes.test.tsx
  src/compiler/selector-builder.ts
Due: lint, types

test(compiler): cover the `=` operator the fix is named for
  src/__tests__/native/attributes.test.tsx
Due: lint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
