Repository nativewind/react-native-css: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: yarn eslint {staged_files}

types:
  run: yarn tsc

fix: correct parameter order in function call
  src/web/api.tsx
Due: lint

ci: add release-type input to release workflow
  .github/workflows/release.yml
Due: none

fix: resolve native SafeAreaProvider via exports map
  package.json
  src/__tests__/native/env.test.ios.tsx
  src/components/SafeAreaProvider.tsx
Due: lint

chore(docs): fix css var hook name (#250)
  README.md
Due: none

test: add breaking test
  src/__tests__/native/components.test.tsx
Due: lint

fix: preserve left/right props on deepMergeConfig
  src/native/styles/index.ts
Due: lint, types

fix: preserve component props when `className.target` is false (#226)
  src/__tests__/native/components.test.tsx
  src/native/styles/index.ts
Due: lint, types

Fixing Issue with text classes from TW 5
  src/components/TextInput.tsx
Due: lint

Release 3.0.4
  package.json
Due: none

fix(types): move @types/debug from devDependencies to dependencies
  package.json
Due: none

fix(types): move @types/debug from devDependencies to dependencies (#290)
  package.json
Due: none

chore: add conventional changelog for GitHub releases
  .config/release-it.config.ts
  package.json
  yarn.lock
Due: lint, types

chore: add conventional changelog for GitHub releases (#294)
  .config/release-it.config.ts
  package.json
  yarn.lock
Due: lint, types

feat: add inset shadow parsing support
  src/__tests__/native/box-shadow.test.tsx
  src/native/styles/shorthands/box-shadow.ts
Due: lint, types

feat: add inset shadow parsing support (#277)
  src/__tests__/native/box-shadow.test.tsx
  src/native/styles/shorthands/box-shadow.ts
Due: lint, types

feat: add CSS @property rule support
  src/__tests__/compiler/property.test.ts
  src/__tests__/native/box-shadow.test.tsx
  src/compiler/compiler.ts
  src/compiler/stylesheet.ts
  src/compiler/supports.ts
  src/native/styles/shorthands/_handler.ts
  src/native/styles/shorthands/box-shadow.ts
Due: lint, types

feat: add CSS @property rule support (#284)
  src/__tests__/compiler/property.test.ts
  src/__tests__/native/box-shadow.test.tsx
  src/compiler/compiler.ts
  src/compiler/stylesheet.ts
  src/compiler/supports.ts
  src/native/styles/shorthands/_handler.ts
  src/native/styles/shorthands/box-shadow.ts
Due: lint, types

fix: prevent style={undefined} from destroying computed styles
  src/__tests__/native/className-with-style.test.tsx
  src/native/styles/index.ts
Due: lint, types

chore: add Claude Code skills for architecture and testing
  .claude/skills/add-test/SKILL.md
  .claude/skills/architecture/SKILL.md
Due: none

docs: add DEVELOPMENT.md and CLAUDE.md for contributor tooling
  CLAUDE.md
  DEVELOPMENT.md
Due: none

Release 3.0.5
  CHANGELOG.md
Due: none

chore: update package description
  package.json
Due: none

chore: update package description (#299)
  package.json
Due: none

fix: resolve single box-shadow from runtime CSS variables
  src/__tests__/native/box-shadow.test.tsx
  src/__tests__/native/text-shadow.test.ios.tsx
  src/native/styles/shorthands/box-shadow.ts
Due: lint, types

fix: resolve single box-shadow from runtime CSS variables (#295)
  src/__tests__/native/box-shadow.test.tsx
  src/__tests__/native/text-shadow.test.ios.tsx
  src/native/styles/shorthands/box-shadow.ts
Due: lint, types

chore: release 3.0.5 (#298)
  .claude/skills/add-test/SKILL.md
  .claude/skills/architecture/SKILL.md
  CHANGELOG.md
  CLAUDE.md
  DEVELOPMENT.md
Due: none

fix: bump version to 3.0.5 to match npm
  package.json
Due: none

fix: bump version to 3.0.5 to match npm (#307)
  package.json
Due: none

Release 3.0.6
  CHANGELOG.md
  package.json
Due: none

fix: prevent style={undefined} from destroying computed styles (#291)
  src/__tests__/native/className-with-style.test.tsx
  src/native/styles/index.ts
Due: lint, types

fix: correct drop-shadow output format and filter function bugs
  src/__tests__/native/filters.test.tsx
  src/__tests__/vendor/tailwind/filters.test.tsx
  src/native/styles/functions/filters.ts
Due: lint, types

fix: correct drop-shadow output format and filter function bugs (#309)
  src/__tests__/native/filters.test.tsx
  src/__tests__/vendor/tailwind/filters.test.tsx
  src/native/styles/functions/filters.ts
Due: lint, types

chore: add triage skill for GitHub issue review
  .claude/skills/triage/SKILL.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
