Repository nativewind/react-native-css: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: yarn tsc
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

fix: enhance UnwrapRecursiveArray to support maximum depth limit (#195)
  src/utilities/dot-notation.types.ts
  src/web/api.tsx
Due: lint, types

fix: ensure static component methods are copied
  src/components/ActivityIndicator.tsx
  src/components/Button.tsx
  src/components/FlatList.tsx
  src/components/Image.tsx
  src/components/ImageBackground.tsx
  src/components/KeyboardAvoidingView.tsx
  src/components/Pressable.tsx
  src/components/ScrollView.tsx
  src/components/Switch.tsx
  src/components/Text.tsx
  src/components/TextInput.tsx
  src/components/TouchableHighlight.tsx
  src/components/TouchableOpacity.tsx
  src/components/TouchableWithoutFeedback.tsx
  src/components/View.tsx
  src/components/VirtualizedList.tsx
  src/components/copyComponentProperties.ts
Due: lint, types

fix: scrollview not working with automatic transform
  src/components/index.cts
Due: none

fix: scrollview not working with automatic transform (#201)
  src/components/index.cts
Due: none

fix: skip transforming react-native-web internals
  package.json
  src/metro/resolver.ts
Due: lint, types

fix: skip transforming react-native-web internals (#202)
  package.json
  src/metro/resolver.ts
Due: lint, types

chore: cleanup example global.css
  example/global.css
  example/src/App.tsx
Due: lint

chore: cleanup example global.css (#203)
  example/global.css
  example/src/App.tsx
Due: lint

fix: add lightningcss to peerDeps
  package.json
Due: none

fix: make styled mapping optional
  src/native/api.tsx
  src/web/api.tsx
Due: lint

fix: make styled mapping optional (#206)
  src/native/api.tsx
  src/web/api.tsx
Due: lint

feat: add runtime color-mix()
  src/__tests__/native/color-mix.test.tsx
  src/compiler/declarations.ts
  src/compiler/supports.ts
  src/native/styles/functions/color-mix.ts
  src/native/styles/functions/index.ts
Due: lint, types

Update src/compiler/supports.ts
  src/compiler/supports.ts
Due: lint, types

Update src/native/styles/functions/color-mix.ts
  src/native/styles/functions/color-mix.ts
Due: lint, types

fix: add warning for lightningcss@1.30.2
  src/compiler/lightningcss-loader.ts
Due: lint, types

Update src/compiler/lightningcss-loader.ts
  src/compiler/lightningcss-loader.ts
Due: lint, types

fix: add warning for lightningcss@1.30.2 (#215)
  src/compiler/lightningcss-loader.ts
Due: lint, types

fix: nativeStyleMapping incorrectly working
  example/src/App.tsx
  src/__tests__/native/container-queries.test.tsx
  src/__tests__/native/specificity.test.tsx
  src/native/react/useNativeCss.ts
  src/native/styles/index.ts
  types.d.ts
Due: lint, types

Update src/native/styles/index.ts
  src/native/styles/index.ts
Due: lint, types

Apply suggestion from @Copilot
  src/compiler/lightningcss-loader.ts
Due: lint, types

fix: nativeStyleMapping (#214)
  example/src/App.tsx
  src/__tests__/native/container-queries.test.tsx
  src/__tests__/native/specificity.test.tsx
  src/native/react/useNativeCss.ts
  src/native/styles/index.ts
  types.d.ts
Due: lint, types

feat: add runtime color-mix() (#208)
  src/__tests__/native/color-mix.test.tsx
  src/compiler/declarations.ts
  src/compiler/supports.ts
  src/native/styles/functions/color-mix.ts
  src/native/styles/functions/index.ts
Due: lint, types

fix: add lightningcss to peerDeps
  yarn.lock
Due: none

fix: add lightningcss to peerDeps (#204)
  package.json
  yarn.lock
Due: none

Release 3.0.1
  package.json
Due: none

fix: add ref forwarding support to styled()
  src/__tests__/native/styled-ref-forwarding.test.tsx
  src/native/api.tsx
Due: lint

fix: simplify ref forwarding in styled()
  src/native/api.tsx
Due: lint

fix: allow className and style props to coexist when properties differ
  src/__tests__/native/className-with-style.test.tsx
  src/native/styles/index.ts
Due: lint, types

perf: optimize style merging performance and readability
  src/native/styles/index.ts
Due: lint, types

fix: allow className and style props to coexist when properties differ (#223)
  src/__tests__/native/className-with-style.test.tsx
  src/native/styles/index.ts
Due: lint, types

fix: implement CSS variable filtering for inline styles with rightIsInline parameter
  src/__tests__/native/className-with-style.test.tsx
  src/__tests__/native/rightIsInline.test.tsx
  src/native/styles/index.ts
Due: lint, types

refactor: harden style filtering with security and performance fixes
  src/native/styles/index.ts
Due: lint, types

test: add comprehensive edge case tests for security hardening
  src/__tests__/native/rightIsInline.test.tsx
Due: lint

docs: enhance JSDoc for style filtering functions
  src/native/styles/index.ts
Due: lint, types

Feat/deep merge config optimizations (#224)
  src/__tests__/native/className-with-style.test.tsx
  src/__tests__/native/rightIsInline.test.tsx
  src/native/styles/index.ts
Due: lint, types

Fix example in README.md
  README.md
Due: none

test: add breaking test
  src/__tests__/native/components.test.tsx
Due: lint

fix: preserve left/right props on deepMergeConfig
  src/native/styles/index.ts
Due: lint, types
