Repository nativewind/react-native-css: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: yarn tsc
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

Update .github/ISSUE_TEMPLATE/1-tailwindcss.yml
  .github/ISSUE_TEMPLATE/1-tailwindcss.yml
Due: none

chore: add TailwindCSS issue template (#180)
  .github/ISSUE_TEMPLATE/1-tailwindcss.yml
  .github/ISSUE_TEMPLATE/2-bug_report.yml
Due: none

chore: adjustments to the TailwindCSS issue template
  .github/ISSUE_TEMPLATE/1-tailwindcss.yml
Due: none

feat: ai moderator workflow
  .github/workflows/ai-moderator.yml
Due: none

chore: adjustments to the TailwindCSS issue template (#181)
  .github/ISSUE_TEMPLATE/1-tailwindcss.yml
Due: none

feat: ai moderator workflow (#182)
  .github/workflows/ai-moderator.yml
Due: none

chore: manually bump version
  package.json
Due: none

chore: change release workflow to use a deploy key
  .github/workflows/release.yml
Due: none

Release 3.0.0-preview.3
  package.json
Due: none

fix: remove lightningcss as a peerDep. Use the version provided by expo
  package.json
  src/__tests__/compiler/@prop.test.tsx
  src/__tests__/compiler/compiler.test.tsx
  src/compiler/compiler.ts
  src/compiler/lightningcss-loader.ts
  src/compiler/selector-builder.ts
  yarn.lock
Due: lint, types

fix: remove lightningcss as a peerDep. Use the version provided by expo (#183)
  package.json
  src/__tests__/compiler/@prop.test.tsx
  src/__tests__/compiler/compiler.test.tsx
  src/compiler/compiler.ts
  src/compiler/lightningcss-loader.ts
  src/compiler/selector-builder.ts
  yarn.lock
Due: lint, types

chore: upgrade to SDK 54
  example/package.json
  package.json
  src/__tests__/compiler/@prop.test.tsx
  src/__tests__/compiler/compiler.test.tsx
  src/compiler/compiler.ts
  src/compiler/stylesheet.ts
  yarn.lock
Due: lint, types

chore: upgrade to SDK 54 (#184)
  example/package.json
  package.json
  src/__tests__/compiler/@prop.test.tsx
  src/__tests__/compiler/compiler.test.tsx
  src/compiler/compiler.ts
  src/compiler/stylesheet.ts
  yarn.lock
Due: lint, types

Revert "chore: upgrade to SDK 54 (#184)"
  example/package.json
  package.json
  src/__tests__/compiler/@prop.test.tsx
  src/__tests__/compiler/compiler.test.tsx
  src/compiler/compiler.ts
  src/compiler/stylesheet.ts
  yarn.lock
Due: lint, types

chore: upgrade to SDK 54 (2nd)
  babel.config.js
  example/app.config.ts
  example/babel.config.js
  example/metro.config.js
  example/package.json
  example/src/App.tsx
  package.json
  src/__tests__/compiler/@prop.test.tsx
  src/__tests__/compiler/compiler.test.tsx
  src/compiler/compiler.ts
  src/compiler/stylesheet.ts
  src/index.ts
  src/metro/index.ts
  yarn.lock
Due: lint, types

chore: upgrade to SDK 54.0.1
  example/package.json
  package.json
  yarn.lock
Due: none

feat: add missing RN components
  src/components/ActivityIndicator.tsx
  src/components/Button.tsx
  src/components/FlatList.tsx
  src/components/Image.tsx
  src/components/ImageBackground.tsx
  src/components/KeyboardAvoidingView.tsx
  src/components/Pressable.tsx
  src/components/ScrollView.tsx
  src/components/TextInput.tsx
  src/components/TouchableHighlight.tsx
  src/components/TouchableOpacity.tsx
  src/components/TouchableWithoutFeedback.tsx
  src/components/VirtualizedList.tsx
  src/components/index.tsx
Due: lint

ci: fix build web example
  example/package.json
  yarn.lock
Due: none

fix: anonymous @prop usage
  src/__tests__/compiler/@prop.test.tsx
  src/compiler/atRules.ts
Due: lint, types

fix: update peerDeps
  package.json
Due: none

fix: escaped characters in @prop
  src/__tests__/compiler/@prop.test.tsx
  src/compiler/atRules.ts
Due: lint, types

fix: broken lockfile
  yarn.lock
Due: none

fix: change wildcard to nesting in @prop
  src/__tests__/compiler/@prop.test.tsx
  src/compiler/atRules.ts
  src/compiler/declarations.ts
  src/compiler/stylesheet.ts
  src/native/styles/calculate-props.ts
Due: lint, types

feat: rename prop atRule to natievMapping
  src/__tests__/compiler/@nativeMapping.test.tsx
  src/compiler/atRules.ts
  src/compiler/stylesheet.ts
Due: lint, types

fix: speed up fast refresh. Removed lazy() support
  .config/eslint.config.mjs
  .config/tsconfig.json
  example/metro.config.js
  example/package.json
  example/src/App.tsx
  example/tsconfig.json
  package.json
  src/components/index.d.ts
  src/components/index.js
  src/metro/index.ts
  src/metro/metro-transformer.ts
  src/metro/override.ts
  src/metro/resolver.ts
  src/native/index.ts
  src/native/metro.ts
  src/native/react-native-css-metro-override.ts
  src/runtime/native/injection.ts
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: lint, types

chore: fix eslint running time
  .config/eslint.config.mjs
  .config/tsconfig.json
  example/src/App.tsx
  example/tsconfig.json
  package.json
  src/__tests__/vendor/tailwind/_tailwind.tsx
  src/components/index.cts
  src/jest/index.ts
  tsconfig.json
Due: lint, types

fix: animationName and animationDuration incorrectly mapping
  example/src/App.tsx
  src/__tests__/compiler/compiler.test.tsx
  src/compiler/keyframes.ts
  src/native/styles/resolve.ts
  src/native/styles/shorthands/animation.ts
Due: lint, types

chore: fix test suite
  example/src/App.tsx
  package.json
  src/__tests__/vendor/tailwind/states.test.tsx
  src/components/index.cts
  src/components/index.ts
Due: lint, types

chore: removed unneeded components declaration file
  src/components/index.d.ts
Due: lint, types

Release 3.0.0-preview.4
  package.json
Due: none

fix: broken types with ./components export
  package.json
Due: none

Release 3.0.0-preview.5
  package.json
Due: none

fix: web components using incorrect runtime
  src/components/ActivityIndicator.tsx
  src/components/Button.tsx
  src/components/FlatList.tsx
  src/components/Image.tsx
  src/components/ImageBackground.tsx
  src/components/KeyboardAvoidingView.tsx
  src/components/Pressable.tsx
  src/components/ScrollView.tsx
  src/components/Switch.tsx
  src/components/Text.tsx
  src/components/TextInput.tsx
  src/components/TouchableHighlight.tsx
  src/components/TouchableOpacity.tsx
  src/components/TouchableWithoutFeedback.tsx
  src/components/View.tsx
  src/components/VirtualizedList.tsx
Due: lint

Release 3.0.0-preview.6
  package.json
Due: none

Release 3.0.0
  package.json
Due: none

fix: display: "content" typo
  src/web/api.tsx
Due: lint

fix: enhance UnwrapRecursiveArray to support maximum depth limit
  src/utilities/dot-notation.types.ts
Due: lint, types

chore: use ComponentPropsWithRef in styled utility
  src/web/api.tsx
Due: lint

Apply suggestions from code review
  src/utilities/dot-notation.types.ts
Due: lint, types

fix: display: "content" typo (#193)
  src/web/api.tsx
Due: lint
