Repository nativewind/react-native-css: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: yarn eslint {staged_files}

types:
  run: yarn tsc

fix: react-native-css/babel default export
  src/babel/index.ts
Due: lint, types

fix: react-native-css/babel default export (#146)
  src/babel/index.ts
Due: lint, types

feat!: unitless line height
  src/__tests__/vendor/tailwind/typography.test.tsx
  src/compiler/declarations.ts
  src/runtime/native/styles/line-height.ts
  src/runtime/native/styles/resolve.ts
Due: lint, types

feat!: unitless line height (#157)
  src/__tests__/vendor/tailwind/typography.test.tsx
  src/compiler/declarations.ts
  src/runtime/native/styles/line-height.ts
  src/runtime/native/styles/resolve.ts
Due: lint, types

chore: update deps to match expo SDK
  package.json
  src/__tests__/vendor/tailwind/states.test.tsx
  yarn.lock
Due: lint

chore: update deps to match expo SDK (#158)
  package.json
  src/__tests__/vendor/tailwind/states.test.tsx
  yarn.lock
Due: lint

chore: move @expo/metro-runtime to a devDependency
  package.json
Due: none

chore: move @expo/metro-runtime to a devDependency (#159)
  package.json
Due: none

fix: remove transient dependency on connect
  example/package.json
  package.json
  src/metro/index.ts
  yarn.lock
Due: lint, types

fix: remove transient dependency on connect (#161)
  example/package.json
  package.json
  src/metro/index.ts
  yarn.lock
Due: lint, types

fix: swap peerDep on expo to be with @expo/metro-config
  package.json
  yarn.lock
Due: none

fix: fix nested variables set via class rules
  src/__tests__/native/variables.test.tsx
  src/runtime/native/styles/variables.ts
Due: lint, types

fix: swap peerDep on expo to be with @expo/metro-config (#160)
  package.json
  yarn.lock
Due: none

fix: nested variables set via class rules (#162)
  src/__tests__/native/variables.test.tsx
  src/runtime/native/styles/variables.ts
Due: lint, types

chore: modify release-nightly to also published from labelled PRs
  .github/workflows/release-nightly.yml
Due: none

chore: modify release-nightly to also published from labelled PRs (#163)
  .github/workflows/release-nightly.yml
Due: none

feat: optimize CSS with a pre-pass in lightningcss
  src/__tests__/compiler/compiler.test.tsx
  src/__tests__/native/calc.test.tsx
  src/__tests__/vendor/tailwind.test.tsx
  src/__tests__/vendor/tailwind/_tailwind.tsx
  src/__tests__/vendor/tailwind/backgrounds.test.tsx
  src/__tests__/vendor/tailwind/borders.test.tsx
  src/__tests__/vendor/tailwind/effects.test.tsx
  src/__tests__/vendor/tailwind/filters.test.tsx
  src/__tests__/vendor/tailwind/transform.test.ts
  src/__tests__/vendor/tailwind/typography.test.tsx
  src/compiler/compiler.ts
  src/compiler/declarations.ts
  src/compiler/selector-builder.ts
  src/runtime/native/styles/calculate-props.ts
Due: lint, types

Update src/compiler/compiler.ts
  src/compiler/compiler.ts
Due: lint, types

feat: run two passes for lightningcss to improve output (#164)
  src/__tests__/compiler/compiler.test.tsx
  src/__tests__/native/calc.test.tsx
  src/__tests__/vendor/tailwind.test.tsx
  src/__tests__/vendor/tailwind/_tailwind.tsx
  src/__tests__/vendor/tailwind/backgrounds.test.tsx
  src/__tests__/vendor/tailwind/borders.test.tsx
  src/__tests__/vendor/tailwind/effects.test.tsx
  src/__tests__/vendor/tailwind/filters.test.tsx
  src/__tests__/vendor/tailwind/transform.test.ts
  src/__tests__/vendor/tailwind/typography.test.tsx
  src/compiler/compiler.ts
  src/compiler/declarations.ts
  src/compiler/selector-builder.ts
  src/runtime/native/styles/calculate-props.ts
Due: lint, types

chore: remove unusued compiler variable tracking
  src/compiler/atRules.ts
  src/compiler/compiler.ts
  src/compiler/compiler.types.ts
  src/compiler/stylesheet.ts
Due: lint, types

chore: remove unusued compiler variable tracking (#165)
  src/compiler/atRules.ts
  src/compiler/compiler.ts
  src/compiler/compiler.types.ts
  src/compiler/stylesheet.ts
Due: lint, types

fix: enable additional lightningcss syntax lowering
  src/__tests__/compiler/@prop.test.tsx
  src/compiler/compiler.ts
Due: lint, types

fix: enable additional lightningcss syntax lowering (#166)
  src/__tests__/compiler/@prop.test.tsx
  src/compiler/compiler.ts
Due: lint, types

fix: change console.log to logger
  src/compiler/compiler.ts
Due: lint, types

fix: change console.log to logger (#168)
  src/compiler/compiler.ts
Due: lint, types

feat: inline css variables
  src/__tests__/compiler/compiler.test.tsx
  src/__tests__/native/text-shadow.test.ios.tsx
  src/__tests__/native/transform.test.tsx
  src/__tests__/native/variables.test.tsx
  src/__tests__/vendor/tailwind/interactivity.test.tsx
  src/__tests__/vendor/tailwind/typography.test.tsx
  src/compiler/compiler.ts
  src/compiler/compiler.types.ts
  src/compiler/declarations.ts
  src/compiler/inline-variables.ts
  src/compiler/stylesheet.ts
  src/style-collection/root.ts
Due: lint, types

feat: inline css variables
  src/__tests__/compiler/@prop.test.tsx
  src/__tests__/compiler/compiler.test.tsx
  src/__tests__/native/box-shadow.test.tsx
  src/__tests__/native/calc.test.tsx
  src/__tests__/native/colors.test.tsx
  src/__tests__/native/text-shadow.test.ios.tsx
  src/__tests__/native/transform.test.tsx
  src/__tests__/native/variables.test.tsx
  src/__tests__/vendor/tailwind.test.tsx
  src/__tests__/vendor/tailwind/_tailwind.tsx
  src/__tests__/vendor/tailwind/flexbox-grid.test.tsx
  src/__tests__/vendor/tailwind/interactivity.test.tsx
  src/__tests__/vendor/tailwind/layout.test.tsx
  src/__tests__/vendor/tailwind/transform.test.ts
  src/__tests__/vendor/tailwind/typography.test.tsx
  src/compiler/compiler.ts
  src/compiler/compiler.types.ts
  src/compiler/declarations.ts
  src/compiler/inline-variables.ts
  src/compiler/stylesheet.ts
  src/jest/index.ts
  src/runtime/native/styles/calculate-props.ts
  src/runtime/native/styles/shorthands/box-shadow.ts
  src/style-collection/root.ts
Due: lint, types

feat: inline css variables (#167)
  src/__tests__/compiler/@prop.test.tsx
  src/__tests__/compiler/compiler.test.tsx
  src/__tests__/native/box-shadow.test.tsx
  src/__tests__/native/calc.test.tsx
  src/__tests__/native/colors.test.tsx
  src/__tests__/native/text-shadow.test.ios.tsx
  src/__tests__/native/transform.test.tsx
  src/__tests__/native/variables.test.tsx
  src/__tests__/vendor/tailwind.test.tsx
  src/__tests__/vendor/tailwind/_tailwind.tsx
  src/__tests__/vendor/tailwind/flexbox-grid.test.tsx
  src/__tests__/vendor/tailwind/interactivity.test.tsx
  src/__tests__/vendor/tailwind/layout.test.tsx
  src/__tests__/vendor/tailwind/transform.test.ts
  src/__tests__/vendor/tailwind/typography.test.tsx
  src/compiler/compiler.ts
  src/compiler/compiler.types.ts
  src/compiler/declarations.ts
  src/compiler/inline-variables.ts
  src/compiler/stylesheet.ts
  src/jest/index.ts
  src/runtime/native/styles/calculate-props.ts
  src/runtime/native/styles/shorthands/box-shadow.ts
  src/style-collection/root.ts
Due: lint, types

fix: consistent API exports
  example/src/App.tsx
  src/__tests__/native/units.test.tsx
  src/__tests__/native/variables.test.tsx
  src/components/react-native-safe-area-context.native.tsx
  src/runtime/native/api.tsx
  src/runtime/native/react/useNativeCss.ts
  src/runtime/native/reactivity.ts
  src/style-collection/index.ts
Due: lint, types

fix: consistent API exports (#174)
  example/src/App.tsx
  src/__tests__/native/units.test.tsx
  src/__tests__/native/variables.test.tsx
  src/components/react-native-safe-area-context.native.tsx
  src/runtime/native/api.tsx
  src/runtime/native/react/useNativeCss.ts
  src/runtime/native/reactivity.ts
  src/style-collection/index.ts
Due: lint, types

chore: update readme
  README.md
Due: none

chore: update readme (#175)
  README.md
Due: none

chore: update to SDK 54.0.0-preview.16
  package.json
  src/__tests__/vendor/tailwind/accessibility.test.tsx
  yarn.lock
Due: lint

chore: update to SDK 54.0.0-preview.16 (#177)
  package.json
  src/__tests__/vendor/tailwind/accessibility.test.tsx
  yarn.lock
Due: lint

chore: update example to SDK 53.0.0-preview.16
  example/package.json
  yarn.lock
Due: none

chore: update example to SDK 53.0.0-preview.16 (#179)
  example/package.json
  yarn.lock
Due: none

chore: add TailwindCSS issue template
  .github/ISSUE_TEMPLATE/1-tailwindcss.yml
  .github/ISSUE_TEMPLATE/2-bug_report.yml
Due: none

Update .github/ISSUE_TEMPLATE/1-tailwindcss.yml
  .github/ISSUE_TEMPLATE/1-tailwindcss.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
